элементы


1 - авторизация без подвтверджения - сервис 1

2 - обычный мод - сервис 2

3 - еда		 	- сервис 3

4 - приложение  - сервис 4

5 - фреймворк   - сервис 5


транзакции

1 - заглушка - сервис 6


бд

1 - бд - сервис 7

1 - реляционная бд

2 - отдельный сервер


связь

1 - авторизация с оболочкой (под капотом http/s) через OAuth2

2 - обычный rest api

3 - сайт на react

4 - с бд орм?
